* {
    margin: 0;
}


.attribution {
    font-size: 11px;
    text-align: center;
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
}

.attribution a {
    color: hsl(193, 100%, 96%);
}

.page-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header {
    background-image: url("./images/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    padding: 50px;
    padding-left: 65px;
    padding-right: 65px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}


.main-logo {
    height: 25px;
}

.try-it {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-style: none;
    background-color: white;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px #ccc;
}

.try-it:hover {
    border: 2px solid #ff52bf;
    cursor: pointer;
    color: hsl(0, 0%, 36%);
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.main-header {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    font-size: 46px;
    color: hsl(192, 100%, 9%);
}

.main-text {
    font-family: 'Open Sans', sans-serif;
    width: 85%;
    font-size: 20px;
    color: hsl(192, 100%, 9%);
}

.get-started {
    background-color: #ff52bf;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0 0 10px #ccc;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.get-started:hover {
    cursor: pointer;
    background: #ff8bd5;
}

.mockup {
    width: 100%;
}

.right {
    width: 50%;
}

.mid {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 150px;
    gap: 30px;
    height: 1150px;
    padding-bottom: 300px;
}

.mid img {
    width: 400px;
}

.mid-container {
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 350px;
}

.mid-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    padding: 2%;
}

.mid-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}


.desc {
    font-family: 'Open Sans', sans-serif;
    color: hsl(208, 11%, 55%);
    font-size: 18px;
    width: 500px;

}


.title {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
}

.image {
    width: 400px;
}

.last {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    width: 550px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 290%;
}

.ready {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
}

footer {
    padding: 50px;
    padding-left: 65px;
    padding-right: 185px;
    padding-top: 150px;
    background-color: hsl(192, 100%, 9%);
    height: 265px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.last-logo {
    filter: brightness(0) invert(1);
}

.mini-logo {
    display: flex;
    gap: 15px;
}

.mini-logo img {
    width: 15px;
    padding: 5px;
    display: flex;
}


.footer-desc {
    color: hsl(193, 100%, 96%);
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}

.ftr-sec {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copy {
    color: hsl(193, 100%, 96%);
    display: flex;
    justify-content: center;
    font-size: small;
    opacity: 50%;
}

.branding {
    display: flex;
    gap: 30px;
}

.brand {
    height: 30px;
}

.brand:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(94%) saturate(462%) hue-rotate(284deg) brightness(104%) contrast(101%);
    cursor: pointer;
}

.ftr-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width:428px) {
    .header {
        padding: 15px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 60px;
    }

    .main-logo {
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .try-it {
        height: 30px;
        width: 25%;
        font-size: x-small;
    }

    .hero-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
    }

    .left button {
        height: 40px;
        width: 300px;
    }

    .main-header {
        display: flex;
        flex-direction: row;
        font-size: x-large;
        justify-content: center;
        align-items: center;
        width: 300px;
    }

    .main-text {
        width: 100%;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .mockup {
        width: 270px;
        justify-content: center;
        align-items: center;
    }

    .mid {
        padding: 0;
        padding-bottom: 220px;
        padding-top: 50px;
    }

    .mid-container {
        display: flex;
        flex-direction: column;
    }

    .mid-left {}

    .title {
        font-size: small;
        align-self: center;
    }

    .desc {
        font-size: small;
        width: 250px;
        align-self: center;
    }

    .mid-right {
        width: 400px;
    }

    .mid-container img {
        width: 5px;
    }

    .last {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 100px;
        padding: 15px;
        gap: 0;
        position: absolute;
        top: 2000px;
    }

    .ready {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-size: small;
        text-align: center;
    }

    .get-started {
        width: 200px;
        height: 100px;
    }

    footer {
        flex-direction: column;
        height: fit-content;
        padding: 0;
        padding-top: 150px;
    }

    .info {
        flex-direction: column;
    }
}